## Query
The most basic search that can be performed is the query.  The query is a free-formed text expression, similar to the type of query you can perform within Google, matching against documents within the specified view.

In [1]:
import refinitiv.data as rd
from refinitiv.data.content import search
import pandas as pd

# Default session - desktop
rd.open_session()

In [2]:
pd.set_option('display.max_colwidth', 140)
rd.__version__

'1.1.0'

#### Query - Default behavior

In [4]:
# The default syntax for search is to specify a query expression.  By default, search will return a default set of 
# fields (Properties).
rd.discovery.search('IBM')

,BusinessEntity,DocumentTitle,PermID,PI,RIC
0,ORGANISATION,"International Business Machines Corp, Public Company",<NA>,37036,<NA>
1,ORGANISATION,"Banco IBM SA, Private Company",<NA>,76208,<NA>
2,QUOTExEQUITY,"International Business Machines Corp, Ordinary Share, NYSE Consolidated",55839165994,1097326,IBM
3,ORGANISATION,"Tiers Corporate Bond Backed Certificates Trust Series Ibm 1997 4, Private Company",<NA>,18062670,<NA>
4,QUOTExEQUITY,"Eurex International Business Machines Equity Future Chain Contract , Equity Future, USD, Eurex",21481052421,48924732,0#IBMF:
5,QUOTExEQUITY,"Euronext Amsterdam IBM Dividend Future Chain Contracts, Equity Future, USD, Euronext Amsterdam",21612423771,259118763,0#IBMDF:
6,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 1, Equity Future, USD, Eurex",21481052892,49450681,IBMFc1
7,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 2, Equity Future, USD, Eurex",21481053949,50092347,IBMFc2
8,QUOTExEQUITY,"Euronext Amsterdam IBM Single Stock Dividend Future Continuation 1, Equity Future, USD, Euronext Amsterdam",21613372305,260213021,IBMDFc1
9,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 3, Equity Future, USD, Eurex",21481053950,50092348,IBMFc3

In [5]:
# By default, 10 documents will be returned.  Let's override that.
rd.discovery.search(
    query = 'IBM',
    top = 20
)

,BusinessEntity,DocumentTitle,PermID,PI,RIC
0,ORGANISATION,"International Business Machines Corp, Public Company",<NA>,37036,<NA>
1,ORGANISATION,"Banco IBM SA, Private Company",<NA>,76208,<NA>
2,QUOTExEQUITY,"International Business Machines Corp, Ordinary Share, NYSE Consolidated",55839165994,1097326,IBM
3,ORGANISATION,"Tiers Corporate Bond Backed Certificates Trust Series Ibm 1997 4, Private Company",<NA>,18062670,<NA>
4,QUOTExEQUITY,"Eurex International Business Machines Equity Future Chain Contract , Equity Future, USD, Eurex",21481052421,48924732,0#IBMF:
5,QUOTExEQUITY,"Euronext Amsterdam IBM Dividend Future Chain Contracts, Equity Future, USD, Euronext Amsterdam",21612423771,259118763,0#IBMDF:
6,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 1, Equity Future, USD, Eurex",21481052892,49450681,IBMFc1
7,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 2, Equity Future, USD, Eurex",21481053949,50092347,IBMFc2
8,QUOTExEQUITY,"Euronext Amsterdam IBM Single Stock Dividend Future Continuation 1, Equity Future, USD, Euronext Amsterdam",21613372305,260213021,IBMDFc1
9,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 3, Equity Future, USD, Eurex",21481053950,50092348,IBMFc3
10,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 4, Equity Future, USD, Eurex",21481053951,50092349,IBMFc4
11,QUOTExEQUITY,"Euronext Amsterdam IBM Single Stock Dividend Future Continuation 2, Equity Future, USD, Euronext Amsterdam",21613372306,260213022,IBMDFc2
12,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 5, Equity Future, USD, Eurex",21481053952,50092350,IBMFc5
13,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 6, Equity Future, USD, Eurex",21481053953,50092351,IBMFc6
14,QUOTExEQUITY,"Euronext Amsterdam IBM Single Stock Dividend Future Continuation 3, Equity Future, USD, Euronext Amsterdam",21613372307,260213023,IBMDFc3
15,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 7, Equity Future, USD, Eurex",21481053954,50092352,IBMFc7
16,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 8, Equity Future, USD, Eurex",21481053955,50092353,IBMFc8
17,QUOTExEQUITY,"Euronext Amsterdam IBM Single Stock Dividend Future Continuation 4, Equity Future, USD, Euronext Amsterdam",21613372308,260213024,IBMDFc4
18,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 9, Equity Future, USD, Eurex",21481053956,50092354,IBMFc9
19,QUOTExEQUITY,"Eurex International Business Machines Equity Future Continuation 10, Equity Future, USD, Eurex",21481053957,50092355,IBMFc10

#### Query Expressions
If we were to type in the following expression, we might come away believing the query will list all personnel within IBM that have a title
of CEO.  While, the results will indicate people related to IBM and people with a title of CEO, we cannot assume they are both.  That is, 
we will see results with the term IBM and CEO listed in the document.

In [6]:
# Match all documents where the term IBM and CEO appear in any order
rd.discovery.search('IBM CEO')

,BusinessEntity,DocumentTitle,PermID,PI
0,PERSON,"Arvind Krishna - International Business Machines Corp - Chairman of the Board, Chief Executive Officer",34417810693,34417810693
1,PERSON,"Rudy S. Karsan - Kenexa Corp - Chairman of the Board, Chief Executive Officer",34413248256,34413248256
2,PERSON,"Mohammed Farooq - Gravitant Inc - Chairman of the Board, Chief Executive Officer, Co-Founder",34415058863,34415058863
3,PERSON,"Simon J. Beaumont - IBM Credit LLC - Chairman of the Board, President, Chief Executive Officer",34421596181,34421596181
4,PERSON,"Dirk Buddensiek - Ibm Ix Berlin GmbH - Chairman of the Management Board, Chief Executive Officer, Founder",34421727104,34421727104
5,PERSON,"Deidre Paknad - Pss Systems Inc - President, CEO, Board Member",34414057544,34414057544
6,PERSON,Ron S Dembo - Algorithmics Inc - President & CEO,34414091235,34414091235
7,PERSON,Frank Chisholm - Aptsoft Corp - CEO & Founder,34414058841,34414058841
8,PERSON,Michael Knagenhjelm - Metamerge As(Ibm Corp) - Chief Executive Officer,34414139687,34414139687
9,PERSON,Lance Crosby - Softlayer Technologies Inc - Chief Executive Officer,34414372380,34414372380

What might give a more favorable result would be to query all documents related to people that contain the term '*IBM*'. From the result, I can visually see
titles and optionally filter out people that are not CEO's.  I can do this by selecting the '**People**' view.
In addition, I'm going to choose specific *child* elements of the **DocumentTitle** field.  As we see in our output from the above requests, the 
'**DocumentTitle**' is selected by default.  This property is a convenient collection of elements that nicely describes the document returned and is
made up of multiple sub-properties such as: '**DTSubjectName**', '**DTSimpleType**', '**DTSource**', and '**DTCharacteristics**'. 

By doing this, I can now see a nice
break-down of the titles (DTCharacteristics), name (DTSubjectName) and company (DTSimpleType).

In [8]:
rd.discovery.search(
    view = search.Views.PEOPLE,
    query = 'IBM',
    select = 'DocumentTitle, DTSubjectName, DTSimpleType, DTSource, DTCharacteristics'
)

,DocumentTitle,DTSubjectName,DTSimpleType,DTCharacteristics
0,"Arvind Krishna - International Business Machines Corp - Chairman of the Board, Chief Executive Officer",Arvind Krishna,International Business Machines Corp,"Chairman of the Board, Chief Executive Officer"
1,Gary D. Cohn - International Business Machines Corp - Vice Chairman,Gary D. Cohn,International Business Machines Corp,Vice Chairman
2,"James J. Kavanaugh - International Business Machines Corp - Senior Vice President, Chief Financial Officer",James J. Kavanaugh,International Business Machines Corp,"Senior Vice President, Chief Financial Officer"
3,"Nickle LaMoreaux - International Business Machines Corp - Chief Human Resource Officer, Senior Vice President",Nickle LaMoreaux,International Business Machines Corp,"Chief Human Resource Officer, Senior Vice President"
4,"Thomas W. Rosamilia - International Business Machines Corp - Senior Vice President - IBM Software, Chairman, North America",Thomas W. Rosamilia,International Business Machines Corp,"Senior Vice President - IBM Software, Chairman, North America"
5,Michelle H. Browdy - International Business Machines Corp - Senior Vice President and General Counsel,Michelle H. Browdy,International Business Machines Corp,Senior Vice President and General Counsel
6,"Nicolas A. Fehring - International Business Machines Corp - Vice President, Controller",Nicolas A. Fehring,International Business Machines Corp,"Vice President, Controller"
7,Robert F. Del Bene - International Business Machines Corp - General Manager - IBM Technology Lifecycle Services,Robert F. Del Bene,International Business Machines Corp,General Manager - IBM Technology Lifecycle Services
8,Alex Gorsky - International Business Machines Corp - Lead Independent Director,Alex Gorsky,International Business Machines Corp,Lead Independent Director
9,David N. Farr - International Business Machines Corp - Independent Director,David N. Farr,International Business Machines Corp,Independent Director

In [9]:
# Search for a specific ISIN using query
rd.discovery.search('US046353AQ14')

,BusinessEntity,DocumentTitle,PermID,PI,RIC
0,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, MARKETAXESS AXESSALL",<NA>,0x00102cc599441a3e,US046353AQ14=MKAX
1,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible, TRADEWEB DIRECT",<NA>,0x00102c8e989a2191,046353AQ1=TWBL
2,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible, REAL TIME ALL QUOTES",<NA>,0x00102c4b5ce30dc5,0#046353AQ1=
3,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, QUOTRIX",<NA>,0x00102c6132ee29a8,DEA19JW6=QTX
4,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, STUTTGART STOCK EXCHANGE",<NA>,0x00102cc6f2eb0dee,DEA19JW6=SG
5,QUOTExFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, TRADEECHO APA EU",<NA>,0x00102cec7f8b2f0b,US046353AQ14=TRU
6,QUOTExFIXEDINCOMExGOVCORP,"NT, Note, US046353AQ14 MiFID II Fine Grained RIC, Marketaxess Europe Limited",196761311753,81618214828,US046353AQ14=MAXM
7,QUOTExFIXEDINCOMExGOVCORP,"NT, Note, US046353AQ14 MiFID II Fine Grained RIC, Deutsche Boerse AG APA Service",196764266323,81620452767,US046353AQ14=DAp
8,INSTRUMENTxFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Plain Vanilla Fixed Coupon Bond, TRACE Eligible AZN 2.375 12-Jun-2022",46645702869,0x00102cb50fde0d55,<NA>

In [10]:
# Narrow the search to only instruments
rd.discovery.search(
    view = search.Views.INSTRUMENTS,
    query = 'US046353AQ14'
)

,BusinessEntity,DocumentTitle,PermID,PI
0,INSTRUMENTxFIXEDINCOMExGOVCORP,"AstraZeneca PLC, Plain Vanilla Fixed Coupon Bond, TRACE Eligible AZN 2.375 12-Jun-2022",46645702869,0x00102cb50fde0d55

#### Query Syntax
A query phrase can support some basic syntax including wildcards, boolean expressions and exact phrase matching.

In [11]:
# Use a specifc term in quotes and the boolean operator to locate specific tankers - use the Content layer 
# to print additional details.
response = search.Definition("'Caribbean Tanker' and Baltic").get_data()
print(f'Matched a total of {response.total} documents')
response.data.df

Matched a total of 22 documents

,BusinessEntity,DocumentTitle,PermID,PI,RIC
0,QUOTExCOMMODITY,"Baltic Exchange TD9 CRB-USG, Commodity Index, The Baltic Exchange",21815646948,621981,.BACG
1,QUOTExCOMMODITY,"Baltic Exchange TC 21 US Gulf to Caribbean, Commodity Spot, The Baltic Exchange",21937072473,661825555,.BAGCR
2,QUOTExCOMMODITY,"Baltic Exchange Dirty Tanker TD21 Caribbean to US Gulf (50,000mt fuel oil), Commodity Spot, The Baltic Exchange",21717867959,175653765,.BACR
3,QUOTExCOMMODITY,"Baltic Exchange Dirty Tanker TD9 TCE Caribbean to US Gulf Time Charter, Commodity Spot, The Baltic Exchange",21717782063,48950908,.BAAFRTD9
4,QUOTExCOMMODITY,"Baltic Exchange Dirty Tanker TD21 TCE Caribbean to US Gulf (50,000mt fuel oil) Time Charter, Commodity Spot, The Baltic Exchange",21717782060,325658314,.BAAFRTD21
5,PHYSICALASSETxVESSEL,"BEKS OCEAN, Panamax, BEKS DENIZCILIK VE TICARET, English Channel|UK Continent Tanker Zone",77309486082,77309486082,C}KP7309486082
6,PHYSICALASSETxVESSEL,"MANDO ONE, Medium, TSAKOS COLUMBIA SHIPMANAGEMENT, Caribbean Sea|Caribbean Tanker Zone",77309486968,77309486968,C}KM7309486968
7,PHYSICALASSETxVESSEL,"NAVE PULSAR, Medium, NAVIOS TANKERS MANAGEMENT INC, Caribbean Sea|Caribbean Tanker Zone|Puerto Rico",77309494434,77309494434,C}KM7309494434
8,PHYSICALASSETxVESSEL,"TORM LILLY, Medium, TORM A/S, Baltic Sea|Baltic Tanker Zone",77309495565,77309495565,C}KM7309495565
9,PHYSICALASSETxVESSEL,"TAURUS, Medium, KONDINAVE SA, Leningrad|Gulf of Finland|Baltic Tanker Zone|Russia",77309497715,77309497715,C}KM7309497715

In [12]:
# Use a wildcard (*) to search for references to 'Covid*'.
response=search.Definition(
    query = "Covid*",
    select = "DTSubjectName, DTSimpleType, DTSource, DTCharacteristics"
).get_data()
print(f'Matched a total of {response.total} documents')
response.data.df

Matched a total of 8556 documents

,DTSubjectName,DTSimpleType,DTSource,DTCharacteristics
0,Covidh Technologies Ltd,Public Company,<NA>,<NA>
1,Mass General Brigham Inc,Private Company,<NA>,<NA>
2,Covidh Technologies Ltd,Ordinary Share,BSE Ltd,<NA>
3,Covidien International Finance SA,Private Company,<NA>,<NA>
4,Banconal COVID Relief Facility SARL,Private Company,<NA>,<NA>
5,COVF Spread Fut.,Equity Future,Eurex,USD
6,Covidien Ventures,Private Company,<NA>,<NA>
7,"United States, Coronavirus (COVID-19), Vaccinations, People vaccinated, Volume",Population,Our World in Data,Daily
8,"United States, Coronavirus (COVID-19), Vaccinations, People vaccinated, % of total",Population,Our World in Data,Daily
9,"United States, Coronavirus (COVID-19), Vaccinations, People fully vaccinated, Volume",Population,Our World in Data,Daily

In [13]:
# List the Vodafone bonds maturing in 2025 with a coupon rate of 5%
# We can achieve this specific query using a special feature called 'tcm' (ticker coupon maturity).
rd.discovery.search(
    query = "vod 5% 2025",
    features = "tcm",
    select = "CouponCurrency, CouponTypeDescription, IssuerLegalName, CouponRate, MaturityDate, ISIN"
)

,CouponCurrency,CouponTypeDescription,IssuerLegalName,CouponRate,MaturityDate,ISIN
0,USD,Fixed:Plain Vanilla Fixed Coupon,Vodafone Hessen GmbH & Co. KG,5,2025-01-15,USD85455AD13
1,USD,Fixed:Plain Vanilla Fixed Coupon,Vodafone Hessen GmbH & Co. KG,5,2025-01-15,US913364AD74

In [14]:
rd.close_session()